// INSTRUCTIONS:
// -------------------------------
// 1. Fill out your network SSID, password, and the host address
// 2. Rename this file to config.h
// -------------------------------

// Network connection settings
const char *ssid = ""; // Network SSID
const char *password = ""; // Network connection password
const char *host = ""; // The IP address of the machine running the web application (internal IP address)

// Port to run the web application and back-end server on
const uint16_t port = 8890; // Default: 8890

// Pins used for the RF modules. Set to -1 to disable receive functionality.
const int rxPin = 13; // Default: 13  -> (GPIO13)
const int txPin = 4; // Default: 4  → (GPIO4)
